<!doctype html>
<html lang="en">

<head>
    <title>Eric Baltutis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">
  
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    
    <link rel="stylesheet" href="fonts/fontawesome-5.1.1/css/all.min.css">
  
    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>