<!doctype html>
<html lang="en">

<head>
    <title>Eric Baltutis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">


    <!-- <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css"> -->

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header role="banner">

        <nav class="navbar navbar-expand-md navbar-dark bg-light">
            <div class="container">
                <a class="navbar-brand absolute" href="views/index.html">Eric Baltutis</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav mx-auto absolute-right">
                        <li class="nav-item">
                            <a class="nav-link active" href="views/index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="views/projects.html">Projects</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="views/contact.html">Contact</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="row modal-content">
                <!-- Add card in js -->
            </div>
        </div>
    </div>
    </div>

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(images/big_image_1.jpg);">
        <div class="container">
            <div class="row align-items-center site-hero-inner justify-content-center">
                <div class="col-md-8 text-center">

                    <div class="mb-5 element-animate">
                        <h1>Accounting - Software Engineering - Project Management</h1>
                        <p class="lead">"Where Accounting, Information Systems, and Psychology Intersect"</p>
                        <p>
                            <a href="#aboutMe" class="btn btn-primary">Learn More About Me</a>
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center" id="aboutMe">
                    <h1>About Me</h1>
                    <hr>
                </div>
            </div>

            <div class="row mb-5 align-items-center">
                <div class="col-md-6 overflow order-1">
                    <img src="images/self-photo.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-1 order-2"></div>
                <div class="col-md-5 order-3">
                    <h2 class="mb-4">Experience and Motives</h2>
                    <hr>
                    <p>I am currently a Project Manager in mental health with 5 years of experience at the Minneapolis VA Healthcare System, who has a great interest in accounting and software development. I am a candidate for a Master of Science in Accounting,
                        2023. Thereafter, I plan to sit for the CPA exam.
                    </p>
                    <p>During a portion of 2021, I had the privilege of working in the Minneapolis VA finance department to gain more accounting and financial experience as I pivot into this new field. I plan to integrate my extensive experience in psychology
                        and project management with the accounting field.
                    </p>
                    <p>My skillsets extend to high proficiencies in Microsoft Excel, Python, MySQL, Javascript, HTML, CSS, React.js, Project Management, Team Leadership, and Database Development. I look forward to using my unique background and experiences
                        in psychology, research, software engineering, and my ongoing education in accounting to help businesses adapt and adopt to emerging technologies, helping to maintain GAAP standards and maintain a competative edge.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/big_image_3.jpg);">
        <div class="container">
            <div class="row justify-content-center align-items-center intro">
                <div class="col-md-7 text-center element-animate">
                    <h2>More Skills and Experiences</h2>
                    <p class="lead mb-5">Understanding what makes people "tick" and implementing new technologies to streamline processes are my two greatest passions. Check out how I applied and integrated these so far.</p>
                    <p>
                        <a href="#experience" class="btn btn-primary">Learn More</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="site-section">
        <div class="container" id="experience">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center" id="aboutMe">
                    <h1>Education</h1>
                    <hr>
                </div>
            </div>
            <section class="exp-features text-dark d-flex justify-content-center">

                <div class="inner justify-content-center">
                    <div class="media d-block feature">
                        <div class="icon">
                            <i class="fas fa-calculator fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="expName mt-3">Saint Mary's University of Minnesota</h3>
                            <h3 class="expDate mt-0">August 2020 - May 2023</h3>
                            <p>Master of Science in Accounting</p>
                        </div>
                    </div>

                    <div class="media d-block feature">
                        <div class="icon">
                            <i class="fas fa-code fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="expName mt-3">University of Minnesota</h3>
                            <h3 class="expDate mt-0">January 2018 - September 2018</h3>
                            <p>Full-stack Developer Certification</p>
                        </div>
                    </div>

                    <div class="media d-block feature">
                        <div class="icon">
                            <i class="fas fa-code-branch fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="expName mt-3">University of Minnesota</h3>
                            <h3 class="expDate mt-0">August 2011 - May 2016</h3>
                            <p>Bachelor of Science in Psychology</p>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </section>

    <section class="site-section bg-light">
        <div class="container">

            <!--Begin work experience section-->
            <section class="site-section">
                <div class="container" id="experience">
                    <div class="row justify-content-center mb-5">
                        <div class="col-md-7 text-center" id="aboutMe">
                            <h1>Work Experience</h1>
                            <hr>
                        </div>
                    </div>
                    <section class="exp-features text-dark last d-flex justify-content-center">
                        <div class="inner justify-content-center">
                            <div class="media d-block feature">
                                <div class="icon">
                                    <i class="fas fa-calculator fa-3x"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="expName mt-3">Minneapolis VA Healthcare System</h3>
                                    <h3 class="expTitle mt-0">Accounting Intern</h3>
                                    <h3 class="expDate mt-0">March 2018 - August 2018</h3>
                                    <p>Detailed to Minneapolis Finance department to process beneficiary travel payments to veterans</p>
                                    <p>Carefully analyze claim vouchers to determine propriety of payment to include required certifications by authorized officials</p>
                                    <p>Process an average of 1200 claims a day</p>
                                    <p>Maintain payment log to ensure accuracy of voucher totals</p>
                                    <p>Observed cash and check donations being processed and allocated to the correct department-financial account</p>
                                </div>
                            </div>
                            <div class="media d-block feature">
                                <div class="icon">
                                    <i class="fas fa-procedures fa-3x"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="expName mt-3">Minneapolis VA Healthcare System</h3>
                                    <h3 class="expTitle mt-0">Project Manager</h3>
                                    <h3 class="expDate mt-0">September 2016 - Present</h3>
                                    <p>Concurrently and succesfully manage and oversee 2 randomized, double-blind, placebo-controlled studies</p>
                                    <p>Restructured and developed intial study database to phpMyAdmin for streamlined data entry processing for 60 participants and the simplification of data cleaning and analysis</p>
                                    <p>Created and adopted new database using REDCap User Interface for automated data entry, transitioning from paper and manual methods</p>
                                    <p>Hired, trained, and supervised up to 5 research staff, including research assistants and interns on protocol administration and data managment</p>
                                    <p>Help revise grants and manuscripts, while being published in 4 research papers</p>
                                    <p>Collaborated on a multi-site study, including San Antonio and West Haven to finalize research recruitment due to high recruitment volume and retention in previous studies</p>
                                    <p>Prepare and review IRB and grant submissions, and assist in summarizing findings for presentations and abstracts</p>
                                    <p>Fully knowledgeable and compliant in HIPAA and IRB regulation to provide the highest standard of PHI</p>
                                </div>
                            </div>
                            <div class="media d-block feature">
                                <div class="icon">
                                    <i class="fas fa-search fa-3x"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="expName mt-3">Center for Chronic Disease Outcomes Research</h3>
                                    <h3 class="expTitle mt-0">Research Assistant</h3>
                                    <h3 class="expDate mt-0">April 2015 - September 2016</h3>
                                    <p>Coordinate qualitative interview transcription using Optimus software, ensuring precise data recording for study analysis</p>
                                    <p>Create standard operating procedures for efficient setup and access to study devices and networks for research staff</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </section>

    <!--END Work Experience Section-->

    <!--Begin languages and libraries section-->

    <section class="site-section">
        <div class="container" id="experience">
            <!--Begin front-end languages-->
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center">
                    <h2>Proficient Languages & Libraries</h2>
                    <hr>
                    <p class="lead">As a full stack developer, I have become working proficient in the following coding languages, libraries, and development tools:</p>
                </div>
            </div>
            <h2>Front-End</h2>
            <hr>
            <div class="row top-languages">
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://getbootstrap.com/" target="_blank" class="language">
                        <img src="images/logos/bootstrap.png" alt="Image placeholder">
                        <h2>Bootstrap</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank" class="language">
                        <img src="images/logos/css.png" alt="Image placeholder">
                        <h2>Cascading Style Sheets</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/Node.js" target="_blank" class="language">
                        <img src="images/logos/ejs.png" alt="Image placeholder">
                        <h2>Embedded Javascript</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/Mustache_(template_system)" target="_blank" class="language">
                        <img src="images/logos/handlebars.png" alt="Image placeholder">
                        <h2>Mustache Markup Language</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/HTML" target="_blank" class="language">
                        <img src="images/logos/HTML.png" alt="Image placeholder">
                        <h2>Hypertext Markup Language</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://materializecss.com/" target="_blank" class="language">
                        <img src="images/logos/materialize.png" alt="Image placeholder">
                        <h2>Materialize</h2>
                    </a>
                </div>
            </div>
            <!--END front-end languages-->

            <!--New row for back-end languages-->
            <h2>Back-End</h2>
            <hr>
            <div class="row top-languages">
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank" class="language">
                        <img src="images/logos/javascript.jpg" alt="Image placeholder">
                        <h2>JavaScript</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://www.mongodb.com/cloud/atlas/lp/general?jmp=search&utm_source=google&utm_campaign=Americas-US-MongoDB-to-Atlas-Brand-Alpha&utm_keyword=mongodb&utm_device=c&utm_network=g&utm_medium=cpc&utm_creative=257481955159&utm_matchtype=e&_bt=257481955159&_bk=mongodb&_bm=e&_bn=g&gclid=CjwKCAjwhLHaBRAGEiwAHCgG3pM9OynHmA8XuuN30piLe5z56jHZGios52aAxmJ_XCzbqHxv6U7UtRoCnvAQAvD_BwE"
                        target="_blank" class="language">
                        <img src="images/logos/mongodb.png" alt="Image placeholder">
                        <h2>MongoDB</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/MySQL" target="_blank" class="language">
                        <img src="images/logos/mysql.png" alt="Image placeholder">
                        <h2>MySQL</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/Node.js" target="_blank" class="language">
                        <img src="images/logos/nodejs.png" alt="Image placeholder">
                        <h2>NodeJS</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/Python_(programming_language)" target="_blank" class="language">
                        <img src="images/logos/python.png" alt="Image placeholder">
                        <h2>Python</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="http://docs.sequelizejs.com/" target="_blank" class="language">
                        <img src="images/logos/sequelize.png" alt="Image placeholder">
                        <h2>Sequelize</h2>
                    </a>
                </div>
            </div>
            <!--END back end languages-->

            <!--New row for dev tools-->
            <h2>Dev Tools</h2>
            <hr>
            <div class="row top-languages justify-content-center">
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://www.heidisql.com/" target="_blank" class="language">
                        <img src="images/logos/heidisql.png" alt="Image placeholder">
                        <h2>HeidiSQL</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://www.jetbrains.com/pycharm/" target="_blank" class="language">
                        <img src="images/logos/pycharm.png" alt="Image placeholder">
                        <h2>PyCharm</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://code.visualstudio.com/" target="_blank" class="language">
                        <img src="images/logos/vscode.png" alt="Image placeholder">
                        <h2>Visual Studio Code</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://www.sublimetext.com/" target="_blank" class="language">
                        <img src="images/logos/sublime.png" alt="Image placeholder">
                        <h2>Sublime Text</h2>
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://www.sequelpro.com/" target="_blank" class="language">
                        <img src="images/logos/sequelpro.png" alt="Image placeholder">
                        <h2>Sequel Pro</h2>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!--END languages and libraries container-->

    <footer class="site-footer" style="background-image: url(images/big_image_3.jpg);">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4">
                    <h3>About</h3>
                    <p>Having a background in psychology, I understand the importance of being able to connect with people and learn how to effectively work and adapt to new environments. This is crucial from a team persepctive, as well as when working with
                        clients. My unique background expands my abilities, not only to be highly efficient in technical skills, but also social. I look forward to grow more personally and professionally in all future endeavors.</p>
                </div>
                <div class="col-md-6 ml-auto">
                    <div class="row row-links">
                        <div class="col-md-4">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="index.html">About Me</a>
                                </li>
                                <li>
                                    <a href="projects.html">Projects</a>
                                </li>
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact Me</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" />
    </svg>
    </div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>


    <script src="js/main.js"></script>
</body>

</html>