<<<<<<< Updated upstream
<% include partials/head %>
  <% include partials/header %>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="row modal-content">
          <!-- Add card in js -->
        </div>
      </div>
    </div>
    </div>

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(images/big_image_1.jpg);">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>From Healthcare to Development</h1>
              <p class="lead">"Connecting the dots between healthcare and technological innovation"</p>
              <p>
                <a href="#aboutMe" class="btn btn-primary">Learn More About Me</a>
              </p>
            </div>


          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center" id="aboutMe">
            <h1>About Me</h1>
            <hr>
          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-md-6 overflow order-1">
            <img src="images/self-photo.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-1 order-2"></div>
          <div class="col-md-5 order-3">
            <h2 class="mb-4">Experience and Motives</h2>
            <hr>
            <p>I began working at the age of 14, gaining professional leadership, interpersonal, and analytical qualities along
              the way. My work ethic and other qualities placed me in multiple diverse work settings where I built off of
              my pre-existing traits and discovered many more.</p>
            <p>Furthermore, I thrive in an environment where I and co-workers build on each other's proficiencies, promoting
              personal cultivation in and outside of the work environment. My work experience ranges from hospitality, all
              the way to healthcare and now computer programming.</p>
            <p>Currently, I am searching for a position where I can combine my extensive healthcare knowledge and my working
              proficiency as full-stack developer. I continue to strive to find challenging areas where my skills are put
              to the test.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/big_image_3.jpg);">
      <div class="container">
        <div class="row justify-content-center align-items-center intro">
          <div class="col-md-7 text-center element-animate">
            <h2>More Skills and Experiences</h2>
            <p class="lead mb-5">Medicine and technology have always been my two greatest passions. Check out how I applied these so far.</p>
            <p>
              <a href="#experience" class="btn btn-primary">Learn More</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="site-section">
      <div class="container" id="experience">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center" id="aboutMe">
            <h1>Education</h1>
            <hr>
          </div>
        </div>
        <section class="exp-features text-dark d-flex">

          <div class="inner">
            <div class="media d-block feature">
              <div class="icon">
                <i class="fas fa-code fa-3x"></i>
              </div>
              <div class="media-body">
                <h3 class="expName mt-3">University of Minnesota</h3>
                <h3 class="expDate mt-0">March 2018 - August 2018</h3>
                <p>Coding Bootcamp: Full-stack Developer Program</p>
              </div>
            </div>

            <div class="media d-block feature">
              <div class="icon">
                <i class="fab fa-medapps fa-3x"></i>
              </div>
              <div class="media-body">
                <h3 class="expName mt-3">University of Minnesota</h3>
                <h3 class="expDate mt-0">Graduated: May 2016</h3>
                <p>Bachelor of Science: Psychology</p>
              </div>
            </div>

            <div class="media d-block feature">
              <div class="icon">
                <i class="fas fa-hospital fa-3x"></i>
              </div>
              <div class="media-body">
                <h3 class="expName mt-3">Carita's Nyeri/Methari Hospital</h3>
                <p>Held group meetings with Kenyan locals suffering from mental illness, implementing proposals and goals to
                  facilitate self-sustainability and the purchase of pharmacotherapy drugs
                </p>
              </div>
            </div>

            <div class="media d-block feature">
              <div class="icon">
                <i class="fas fa-plane fa-3x"></i>
              </div>
              <div class="media-body">
                <h3 class="expName mt-3">MSID Study Abroad</h3>
                <p>Shadowed psychiatric doctors and nurses in Comprehensive Care Center of Methari Hospital, Nyeri, building
                  on clinical and analytical skills to provide patients quality care for sustainable and wholesome lives</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>

    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>Proficient Languages & Libraries</h2>
            <p class="lead">As a full stack developer, I have become working proficient in the following coding languages, libraries, and
              development tools:</p>
          </div>
        </div>
        <h2>Front-End</h2>
        <hr>
        <div class="row top-languages">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://en.wikipedia.org/wiki/HTML" target="_blank" class="language">
              <img src="images/logos/HTML.png" alt="Image placeholder">
              <h2>Hypertext Markup Language</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank" class="language">
              <img src="images/logos/css.png" alt="Image placeholder">
              <h2>Cascading Style Sheets</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://getbootstrap.com/" target="_blank" class="language">
              <img src="images/logos/bootstrap.png" alt="Image placeholder">
              <h2>Bootstrap</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://materializecss.com/" target="_blank" class="language">
              <img src="images/logos/materialize.png" alt="Image placeholder">
              <h2>Materialize</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://en.wikipedia.org/wiki/Mustache_(template_system)" target="_blank" class="language">
              <img src="images/logos/handlebars.png" alt="Image placeholder">
              <h2>Mustache Markup Language</h2>
            </a>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://en.wikipedia.org/wiki/Node.js" target="_blank" class="language">
              <img src="images/logos/ejs.png" alt="Image placeholder">
              <h2>Embedded Javascript</h2>
            </a>
          </div>
        </div>

        <!-- New row for back-end languages -->
        <h2>Back-End</h2>
        <hr>
        <div class="row top-languages">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank" class="language">
              <img src="images/logos/javascript.jpg" alt="Image placeholder">
              <h2>JavaScript</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://en.wikipedia.org/wiki/Node.js" target="_blank" class="language">
              <img src="images/logos/nodejs.png" alt="Image placeholder">
              <h2>NodeJS</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://www.mongodb.com/cloud/atlas/lp/general?jmp=search&utm_source=google&utm_campaign=Americas-US-MongoDB-to-Atlas-Brand-Alpha&utm_keyword=mongodb&utm_device=c&utm_network=g&utm_medium=cpc&utm_creative=257481955159&utm_matchtype=e&_bt=257481955159&_bk=mongodb&_bm=e&_bn=g&gclid=CjwKCAjwhLHaBRAGEiwAHCgG3pM9OynHmA8XuuN30piLe5z56jHZGios52aAxmJ_XCzbqHxv6U7UtRoCnvAQAvD_BwE"
              target="_blank" class="language">
              <img src="images/logos/mongodb.png" alt="Image placeholder">
              <h2>MongoDB</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="http://docs.sequelizejs.com/" target="_blank" class="language">
              <img src="images/logos/sequelize.png" alt="Image placeholder">
              <h2>Sequelize</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://en.wikipedia.org/wiki/MySQL" target="_blank" class="language">
              <img src="images/logos/mysql.png" alt="Image placeholder">
              <h2>MySQL</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://en.wikipedia.org/wiki/Python_(programming_language)" target="_blank" class="language">
              <img src="images/logos/python.png" alt="Image placeholder">
              <h2>Python</h2>
            </a>
          </div>
        </div>

        <!-- New row for database apps -->
        <h2>Dev Tools</h2>
        <hr>
        <div class="row top-languages">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://code.visualstudio.com/" target="_blank" class="language">
              <img src="images/logos/vscode.png" alt="Image placeholder">
              <h2>Visual Studio Code</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://www.sublimetext.com/" target="_blank" class="language">
              <img src="images/logos/sublime.png" alt="Image placeholder">
              <h2>Sublime Text</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://www.heidisql.com/" target="_blank" class="language">
              <img src="images/logos/heidisql.png" alt="Image placeholder">
              <h2>HeidiSQL</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://www.sequelpro.com/" target="_blank" class="language">
              <img src="images/logos/sequelpro.png" alt="Image placeholder">
              <h2>Sequel Pro</h2>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="https://www.jetbrains.com/idea/" target="_blank" class="language">
              <img src="images/logos/intellij.png" alt="Image placeholder">
              <h2>IntelliJ IDEA</h2>
            </a>
          </div>
        </div>
=======
<!doctype html>
<html lang="en">

<head>
    <title>Eric Baltutis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">


    <!-- <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css"> -->

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header role="banner">

        <nav class="navbar navbar-expand-md navbar-dark bg-light">
            <div class="container">
                <a class="navbar-brand absolute" href="index.html">Eric Baltutis</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav mx-auto absolute-right">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="projects.html">Projects</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="row modal-content">
                <!-- Add card in js -->
            </div>
        </div>
    </div>
    </div>

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(images/big_image_1.jpg);">
        <div class="container">
            <div class="row align-items-center site-hero-inner justify-content-center">
                <div class="col-md-8 text-center">

                    <div class="mb-5 element-animate">
                        <h1>Accounting - Full-Stack Developer - Project Manager</h1>
                        <p class="lead">"Connecting the dots between healthcare and technological innovation"</p>
                        <p>
                            <a href="#aboutMe" class="btn btn-primary">Learn More About Me</a>
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center" id="aboutMe">
                    <h1>About Me</h1>
                    <hr>
                </div>
            </div>

            <div class="row mb-5 align-items-center">
                <div class="col-md-6 overflow order-1">
                    <img src="images/self-photo.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-1 order-2"></div>
                <div class="col-md-5 order-3">
                    <h2 class="mb-4">Experience and Motives</h2>
                    <hr>
                    <p>I began working at the age of 14, gaining professional leadership, interpersonal, and analytical qualities along the way. My work ethic and other qualities placed me in multiple diverse work settings where I built off of my pre-existing
                        traits and discovered many more.</p>
                    <p>Furthermore, I thrive in an environment where I and co-workers build on each other's proficiencies, promoting personal cultivation in and outside of the work environment. My work experience ranges from hospitality, all the way to healthcare
                        and now computer programming.</p>
                    <p>Currently, I am searching for a position where I can combine my extensive healthcare knowledge and my working proficiency as full-stack developer. I continue to strive to find challenging areas where my skills are put to the test.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/big_image_3.jpg);">
        <div class="container">
            <div class="row justify-content-center align-items-center intro">
                <div class="col-md-7 text-center element-animate">
                    <h2>More Skills and Experiences</h2>
                    <p class="lead mb-5">Medicine and technology have always been my two greatest passions. Check out how I applied these so far.</p>
                    <p>
                        <a href="#experience" class="btn btn-primary">Learn More</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="site-section">
        <div class="container" id="experience">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center" id="aboutMe">
                    <h1>Education</h1>
                    <hr>
                </div>
            </div>
            <section class="exp-features text-dark d-flex">

                <div class="inner">
                    <div class="media d-block feature">
                        <div class="icon">
                            <i class="fas fa-code fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="expName mt-3">University of Minnesota</h3>
                            <h3 class="expDate mt-0">March 2018 - August 2018</h3>
                            <p>Coding Bootcamp: Full-stack Developer Program</p>
                        </div>
                    </div>

                    <div class="media d-block feature">
                        <div class="icon">
                            <i class="fab fa-medapps fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="expName mt-3">University of Minnesota</h3>
                            <h3 class="expDate mt-0">Graduated: May 2016</h3>
                            <p>Bachelor of Science: Psychology</p>
                        </div>
                    </div>

                    <div class="media d-block feature">
                        <div class="icon">
                            <i class="fas fa-hospital fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="expName mt-3">Carita's Nyeri/Methari Hospital</h3>
                            <p>Held group meetings with Kenyan locals suffering from mental illness, implementing proposals and goals to facilitate self-sustainability and the purchase of pharmacotherapy drugs
                            </p>
                        </div>
                    </div>

                    <div class="media d-block feature">
                        <div class="icon">
                            <i class="fas fa-plane fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="expName mt-3">MSID Study Abroad</h3>
                            <p>Shadowed psychiatric doctors and nurses in Comprehensive Care Center of Methari Hospital, Nyeri, building on clinical and analytical skills to provide patients quality care for sustainable and wholesome lives</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <section class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center">
                    <h2>Proficient Languages & Libraries</h2>
                    <p class="lead">As a full stack developer, I have become working proficient in the following coding languages, libraries, and development tools:</p>
                </div>
            </div>
            <h2>Front-End</h2>
            <hr>
            <div class="row top-languages">
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/HTML" target="_blank" class="language">
                        <img src="images/logos/HTML.png" alt="Image placeholder">
                        <h2>Hypertext Markup Language</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank" class="language">
                        <img src="images/logos/css.png" alt="Image placeholder">
                        <h2>Cascading Style Sheets</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://getbootstrap.com/" target="_blank" class="language">
                        <img src="images/logos/bootstrap.png" alt="Image placeholder">
                        <h2>Bootstrap</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://materializecss.com/" target="_blank" class="language">
                        <img src="images/logos/materialize.png" alt="Image placeholder">
                        <h2>Materialize</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/Mustache_(template_system)" target="_blank" class="language">
                        <img src="images/logos/handlebars.png" alt="Image placeholder">
                        <h2>Mustache Markup Language</h2>
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/Node.js" target="_blank" class="language">
                        <img src="images/logos/ejs.png" alt="Image placeholder">
                        <h2>Embedded Javascript</h2>
                    </a>
                </div>
            </div>

            <!-- New row for back-end languages -->
            <h2>Back-End</h2>
            <hr>
            <div class="row top-languages">
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank" class="language">
                        <img src="images/logos/javascript.jpg" alt="Image placeholder">
                        <h2>JavaScript</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/Node.js" target="_blank" class="language">
                        <img src="images/logos/nodejs.png" alt="Image placeholder">
                        <h2>NodeJS</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://www.mongodb.com/cloud/atlas/lp/general?jmp=search&utm_source=google&utm_campaign=Americas-US-MongoDB-to-Atlas-Brand-Alpha&utm_keyword=mongodb&utm_device=c&utm_network=g&utm_medium=cpc&utm_creative=257481955159&utm_matchtype=e&_bt=257481955159&_bk=mongodb&_bm=e&_bn=g&gclid=CjwKCAjwhLHaBRAGEiwAHCgG3pM9OynHmA8XuuN30piLe5z56jHZGios52aAxmJ_XCzbqHxv6U7UtRoCnvAQAvD_BwE"
                        target="_blank" class="language">
                        <img src="images/logos/mongodb.png" alt="Image placeholder">
                        <h2>MongoDB</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="http://docs.sequelizejs.com/" target="_blank" class="language">
                        <img src="images/logos/sequelize.png" alt="Image placeholder">
                        <h2>Sequelize</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/MySQL" target="_blank" class="language">
                        <img src="images/logos/mysql.png" alt="Image placeholder">
                        <h2>MySQL</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://en.wikipedia.org/wiki/Python_(programming_language)" target="_blank" class="language">
                        <img src="images/logos/python.png" alt="Image placeholder">
                        <h2>Python</h2>
                    </a>
                </div>
            </div>

            <!-- New row for database apps -->
            <h2>Dev Tools</h2>
            <hr>
            <div class="row top-languages">
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://code.visualstudio.com/" target="_blank" class="language">
                        <img src="images/logos/vscode.png" alt="Image placeholder">
                        <h2>Visual Studio Code</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://www.sublimetext.com/" target="_blank" class="language">
                        <img src="images/logos/sublime.png" alt="Image placeholder">
                        <h2>Sublime Text</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://www.heidisql.com/" target="_blank" class="language">
                        <img src="images/logos/heidisql.png" alt="Image placeholder">
                        <h2>HeidiSQL</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://www.sequelpro.com/" target="_blank" class="language">
                        <img src="images/logos/sequelpro.png" alt="Image placeholder">
                        <h2>HeidiSQL</h2>
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="https://www.jetbrains.com/idea/" target="_blank" class="language">
                        <img src="images/logos/intellij.png" alt="Image placeholder">
                        <h2>IntelliJ IDEA</h2>
                    </a>
                </div>
            </div>
>>>>>>> Stashed changes
    </section>
    <!-- END section -->

    <section class="site-section">
<<<<<<< Updated upstream
      <div class="container" id="experience">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center" id="aboutMe">
            <h1>Work Experience</h1>
            <hr>
          </div>
        </div>
        <section class="exp-features text-dark last d-flex">

          <div class="inner">
            <div class="media d-block feature">
              <div class="icon">
                <i class="fas fa-procedures fa-3x"></i>
              </div>
              <div class="media-body">
                <h3 class="expName mt-3">Minneapolis VA Medical Center</h3>
                <h3 class="expTitle mt-0">Clinical Research Coordinator</h3>
                <h3 class="expDate mt-0">September 2016 - Present</h3>
                <p>Manage and coordinate the “randomized, double-blind, placebo control study of a single versus repeated intravenous
                  sub-anesthetic Ketamine treatment in refractory depression”</p>
                <p>Screen prospect patients, administer Ketamine infusions and clinical assessments, while staying up-to-date
                  on Internal Review Board documentation</p>
                <p>Supervise and train research assistants and interns on database development, infusion administration, study
                  protocol, and interactions with potential participants</p>
              </div>
            </div>

            <div class="media d-block feature">
              <div class="icon">
                <i class="fas fa-volume-up fa-3x"></i>
              </div>
              <div class="media-body">
                <h3 class="expName mt-3">Bethlehem Lutheran Church</h3>
                <h3 class="expTitle mt-0">Production Manager</h3>
                <h3 class="expDate mt-0">August 2017 - Present</h3>
                <p>Program professional digital sound and lighting equipment, as well as training and overseeing production
                  team volunteers in live audio, lighting, Pro-presenting, and internet broadcasting</p>
                <p>Develop Standard Operating Procedures for easy protocol integration of new volunteers including weekly setup
                  of all tech equipment, and educating individuals on diagnostic operations when malfunctions arise</p>
              </div>
            </div>

            <div class="media d-block feature">
              <div class="icon">
                <i class="fas fa-search fa-3x"></i>
              </div>
              <div class="media-body">
                <h3 class="expName mt-3">Center for Chronic Disease Outcomes Research</h3>
                <h3 class="expTitle mt-0">Research Coordinator</h3>
                <h3 class="expDate mt-0">April 2015 - September 2016</h3>
                <p>Research Coordinator and Research Assistant on Project HomeFront, a mixed methods (surveys and qualitative
                  interviews), longitudinal PTSD research study, to improve treatment adherence</p>
                <p>Trained new staff on survey scanning, survey verification, interview transcribing, and de-identifying transcription</p>
                <p>Created protocols to ensure easy setup and access to different devices and networks from computers for research
                  staff, increasing work efficiency</p>
              </div>
            </div>

            <div class="media d-block feature">
              <div class="icon">
                <i class="fas fa-pills fa-3x"></i>
              </div>
              <div class="media-body">
                <h3 class="expName mt-3">Aurora St. Luke's Medical Center</h3>
                <h3 class="expTitle mt-0">Pharmacy Technician</h3>
                <h3 class="expDate mt-0">July 2013 - November 2015</h3>
                <p>
                  Responsible for measuring, compounding, and distributing various medications to inpatients while responding urgently to medical
                  emergencies and assisting medical staff in drug administration
                </p>
                <p>
                  Interviewing Emergency Room patients to obtain medication histories for hospital admission
                </p>
                <p>
                  Use of time-management skills to successfully complete tasks as required
                </p>
              </div>
            </div>
          </div>
        </section>


      </div>
    </section>
    <!-- END section -->
=======
        <div class="container" id="experience">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center" id="aboutMe">
                    <h1>Work Experience</h1>
                    <hr>
                </div>
            </div>
            <section class="exp-features text-dark last d-flex">

                <div class="inner">
                    <div class="media d-block feature">
                        <div class="icon">
                            <i class="fas fa-procedures fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="expName mt-3">Minneapolis VA Medical Center</h3>
                            <h3 class="expTitle mt-0">Clinical Research Coordinator</h3>
                            <h3 class="expDate mt-0">September 2016 - Present</h3>
                            <p>Manage and coordinate the “randomized, double-blind, placebo control study of a single versus repeated intravenous sub-anesthetic Ketamine treatment in refractory depression”</p>
                            <p>Screen prospect patients, administer Ketamine infusions and clinical assessments, while staying up-to-date on Internal Review Board documentation</p>
                            <p>Supervise and train research assistants and interns on database development, infusion administration, study protocol, and interactions with potential participants</p>
                        </div>
                    </div>

                    <div class="media d-block feature">
                        <div class="icon">
                            <i class="fas fa-volume-up fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="expName mt-3">Bethlehem Lutheran Church</h3>
                            <h3 class="expTitle mt-0">Production Manager</h3>
                            <h3 class="expDate mt-0">August 2017 - Present</h3>
                            <p>Program professional digital sound and lighting equipment, as well as training and overseeing production team volunteers in live audio, lighting, Pro-presenting, and internet broadcasting</p>
                            <p>Develop Standard Operating Procedures for easy protocol integration of new volunteers including weekly setup of all tech equipment, and educating individuals on diagnostic operations when malfunctions arise</p>
                        </div>
                    </div>

                    <div class="media d-block feature">
                        <div class="icon">
                            <i class="fas fa-search fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="expName mt-3">Center for Chronic Disease Outcomes Research</h3>
                            <h3 class="expTitle mt-0">Research Coordinator</h3>
                            <h3 class="expDate mt-0">April 2015 - September 2016</h3>
                            <p>Research Coordinator and Research Assistant on Project HomeFront, a mixed methods (surveys and qualitative interviews), longitudinal PTSD research study, to improve treatment adherence</p>
                            <p>Trained new staff on survey scanning, survey verification, interview transcribing, and de-identifying transcription</p>
                            <p>Created protocols to ensure easy setup and access to different devices and networks from computers for research staff, increasing work efficiency</p>
                        </div>
                    </div>

                    <div class="media d-block feature">
                        <div class="icon">
                            <i class="fas fa-pills fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="expName mt-3">Aurora St. Luke's Medical Center</h3>
                            <h3 class="expTitle mt-0">Pharmacy Technician</h3>
                            <h3 class="expDate mt-0">July 2013 - November 2015</h3>
                            <p>
                                Responsible for measuring, compounding, and distributing various medications to inpatients while responding urgently to medical emergencies and assisting medical staff in drug administration
                            </p>
                            <p>
                                Interviewing Emergency Room patients to obtain medication histories for hospital admission
                            </p>
                            <p>
                                Use of time-management skills to successfully complete tasks as required
                            </p>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </section>
    <!-- END section -->

    <footer class="site-footer" style="background-image: url(images/big_image_3.jpg);">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4">
                    <h3>About</h3>
                    <p>I strive to connect healthcare and technological development. Furthermore, it is important to promote personal cultivation within yourself and others around you.</p>
                </div>
                <div class="col-md-6 ml-auto">
                    <div class="row row-links">
                        <div class="col-md-4">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="index.html">About Me</a>
                                </li>
                                <li>
                                    <a href="projects.html">Projects</a>
                                </li>
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact Me</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" />
    </svg>
    </div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>


    <script src="js/main.js"></script>
</body>
>>>>>>> Stashed changes

<% include partials/footer %>