<% include partials/head %>
  <% include partials/header %>

  <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(images/big_image_1.jpg);">
    <div class="container">
      <div class="row align-items-center site-hero-inner justify-content-center">
        <div class="col-md-8 text-center">

          <div class="mb-5 element-animate">
            <h1>Programming Projects</h1>
            <p class="lead">See my projects below</p>
            <p>
              <a href="#projectBox" class="btn btn-primary">Go to Projects</a>
            </p>
          </div>


        </div>
      </div>
    </div>
  </section>
  <!-- END section -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="row modal-content">
        <!-- Add card in js -->
      </div>
    </div>
  </div>
  </div>

  <section class="site-section bg-light">
    <div class="container" id="projectBox">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center">
          <h2>My Projects</h2>
          <hr>
          <p class="lead">Here is a complilation of development projects that I have already completed. More on the way!</p>
        </div>
      </div>

      // Start projects
      <div class="row">
        <div class="card col-md-4 col-sm-6 col-12" id="hangmanCard">
          <img class="card-img-top rounded-top" src="images/projects/Hangman-Portfolio.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Hangman Game</h5>
            <p class="card-text">"Game is set to to give the player 10 guesses until hangman is fully drawn and the game is over. Guess the word
              correctly and you win!"</p>
            <a class="btn btn-primary" id="hangmanBtn">
              <i class="fab fa-windows fa-md">
              </i>
            </a> |
            <a class="btn btn-primary" id="hangmanGit">
              <i class="fab fa-github fa-lg"></i>
            </a>
          </div>
        </div>
        <div class="card col-md-4 col-sm-6 col-12" id="crystalCard">
          <img class="card-img-top rounded-top" src="images/projects/crystalGame.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Crystals Game</h5>
            <p class="card-text">"A random number is generated. It is the players job to reach that number using other randomly generated numbers
              hidden inside the crystals."</p>
            <a class="btn btn-primary" id="crystalBtn">
              <i class="fab fa-windows">
              </i>
            </a> |
            <a class="btn btn-primary" id="crystalGit">
              <i class="fab fa-github fa-lg"></i>
            </a>
          </div>
        </div>

        <div class="card col-md-4 col-sm-6 col-12" id="starWarsCard">
          <img class="card-img-top rounded-top" src="images/projects/starWarsGame.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Star Wars Trivia</h5>
            <p class="card-text">"You have 10 seconds to guess the correct Star Wars answer! Press start to move onto the next question."
            </p>
            <a class="btn btn-primary" id="starWarsBtn">
              <i class="fab fa-windows">
              </i>
            </a> |
            <a class="btn btn-primary" id="warsGit">
              <i class="fab fa-github fa-lg"></i>
            </a>
          </div>
        </div>

      </div>

      <!-- END row -->

      // New row of projects
      <div class="row">
        <div class="card col-md-4 col-sm-6 col-12" id="gifCard">
          <img class="card-img-top rounded-top" src="images/projects/gifTastic.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">GifTastic</h5>
            <p class="card-text">"Click on any button to show gifs of that animal. Also, add new gif animal buttons for more gifs!"</p>
            <a class="btn btn-primary wrapper" id="gifTasticBtn">
              <i class="fab fa-windows">
              </i>
            </a> |
            <a class="btn btn-primary" id="gifGit">
              <i class="fab fa-github fa-lg"></i>
            </a>
          </div>
        </div>
        <div class="card col-md-4 col-sm-6 col-12" id="trainCard">
          <img class="card-img-top rounded-top" src="images/projects/trainScheduler.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Train Scheduler</h5>
            <p class="card-text">"This program grabs information from the firebase database for multiple train arrival times."</p>
            <a class="btn btn-primary" id="trainSchedulerBtn">
              <i class="fab fa-windows">
              </i>
            </a> |
            <a class="btn btn-primary" id="trainGit">
              <i class="fab fa-github fa-lg"></i>
            </a>
          </div>
        </div>
        <div class="card col-md-4 col-sm-6 col-12" id="nutritionCard">
          <img class="card-img-top rounded-top" src="images/projects/nutritionProject.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dine or Dash</h5>
            <p class="card-text">"Everyone has looked into their fridge at some point and had something there that they had no idea what to do
              with. We wanted to make an easy way to find recipes, or if you aren’t feeling up to cooking you can use the
              dash function to find a restaurant near you."</p>
            <a class="btn btn-primary" id="nutritionProjectBtn">
              <i class="fab fa-windows">
              </i>
            </a> |
            <a class="btn btn-primary" id="dashGit">
              <i class="fab fa-github fa-lg"></i>
            </a>
          </div>
        </div>
      </div>

      // New row of projects
      <div class="row">
        <div class="card col-md-4 col-sm-6 col-12" id="nodeCard">
          <img class="card-img-top rounded-top" src="images/projects/nodeImage.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Node API</h5>
            <p class="card-text">"Using Node.js, an application was created to find songs, movies, and tweets, using git-bash or terminal."</p>
            <a class="btn btn-primary" id="nodeBtn">
              <i class="fab fa-windows">
              </i>
            </a> |
            <a class="btn btn-primary" id="nodeGit">
              <i class="fab fa-github fa-lg"></i>
            </a>
          </div>
        </div>
        <div class="card col-md-4 col-sm-6 col-12" id="friendCard">
          <img class="card-img-top rounded-top" src="images/projects/friendFinder.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Friend Finder</h5>
            <p class="card-text">"This app prompts a user to complete a survey. Upon completion, the app will determine a most suitable friend!"</p>
            <a class="btn btn-primary" id="friendBtn">
              <i class="fab fa-windows">
              </i>
            </a> |
            <a class="btn btn-primary" id="friendGit">
              <i class="fab fa-github fa-lg"></i>
            </a>
          </div>
        </div>
        <div class="card col-md-4 col-sm-6 col-12" id="burgerCard">
          <img class="card-img-top rounded-top" src="images/projects/burgers.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Burger App</h5>
            <p class="card-text">"This app uses handlebars and jquery to add burgers, which can be eaten and then regurgitated so you can enjoy them again!"</p>
            <a class="btn btn-primary" id="burgerBtn">
              <i class="fab fa-windows">
              </i>
            </a> |
            <a class="btn btn-primary" id="burgerGit">
              <i class="fab fa-github fa-lg"></i>
            </a>
          </div>
        </div>
      </div>

      // New row of Projects
      <div class="row">
        <div class="card col-md-4 col-sm-6 col-12" id="volunteerCard">
          <img class="card-img-top rounded-top" src="images/projects/volunteers-in-action.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Volunteers In Action</h5>
            <p class="card-text">"Using ejs, this app was deployed to heroku, which helps young adults find volunteer opportunities in their area to build their resume."</p>
            <a class="btn btn-primary" id="volunteerBtn">
              <i class="fab fa-windows">
              </i>
            </a> |
            <a class="btn btn-primary" id="volunteerGit">
              <i class="fab fa-github fa-lg"></i>
            </a>
          </div>
        </div>
  </section>
  <!-- END section -->

  <% include partials/footer %>